# Task 1: Small case scenario of dataset analysis

## 1.1 - Create a dataset (The Tate Collection)
As a first example, we will create our own small dataset. In particular, the dataset will consist of 10 artists which are present in the Tate Collection along with the corresponding year of birth, year of death, biological gender and number of artworks.

|          Name         | Gender |   Year_Birth  |   Year_Death  | N_works |
|-----------------------|--------|---------------|---------------|---------|
|     Beuys, Joseph     |  Male  |      1921	 |      1986     |   588   |
|    Constable, John    |  Male  |      1776	 |      1837	 |   249   |
|   Daniell, William    |  Male  |      1769	 |      1837	 |   612   |
|   Forbes, Elizabeth   | Female |      1859	 |      1912	 |   120   |
|     Flaxman, John     |  Male  |      1755	 |      1826	 |   287   |
|    Phillips, Thomas   |  Male  |      1770	 |      1845	 |   274   |
| Paolozzi, Sir Eduardo |  Male  |      1924	 |      2005	 |   385   |
|     Schendel, Mira    | Female |      1919	 |      1988	 |    3    |
|    Turner, William    |  Male  |      1775	 |      1851	 |  1861   |
|      Warhol, Andy     |  Male  |      1928	 |      1987	 |   272   |

**_[TO DO]_**: Let's create a DataFrame named **TateDataset** with the information showed in the above table.

**Note:** You can create arrays for each column and then build the DataFrame.
Remember to import the required libraries!

In [64]:
#@title Imports
import numpy as np
import pandas as pd

In [65]:
name = ['Beuys, Joseph', 'Constable, John', 'Daniell, William', 'Forbes, Elizabeth', 'Flaxman, John', 'Phillips, Thomas',
        'Paolozzi, Sir Eduardo', 'Schendel, Mira', 'Turner, William', 'Warhol, Andy']

gender = ['Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male']
year_birth = np.array([1921, 1776, 1769, 1859, 1755, 1770, 1924, 1919, 1775, 1928], dtype=np.int64)
year_death = np.array([1986, 1837, 1837, 1912, 1826, 1845, 2005, 1988, 1851, 1987], dtype=np.int64)
n_works = np.array([588, 249, 612, 120, 287, 274, 385, 3, 1861, 272], dtype=np.int64)

columns = ['Name', 'Gender', 'Year_Birth', 'Year_Death', 'N_works']

d = {'Name': name, 'Gender': gender, 'Year_Birth': year_birth, 'Year_Death': year_death, 'N_works': n_works}

tate_dataset = pd.DataFrame(data=d)
tate_dataset

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

## 1.2 - Data Acquisition (local file)

Data acquisition is a process of loading and reading data from various sources. We will learn how to export and read data from a local file in different format using  **Pandas** package. 

A file format is a standardised way in which information is encoded to be stored in a file. Some examples of file formats are: CSV, XLSX, and PKL. 

Let's practice with some examples.

###Â .CSV - Comma Separated Values

CSV is one of the most popular spreadsheet file format. In this kind of file, data is stored in cells. Each cell is organized in rows and columns. A column in the spreadsheet file can have different types. 

Let us look at how to create a CSV file. We can export a DataFrame with the Pandas function `to_csv()`. The file will be saved in the same location of this notebook unless specified otherwise. We can name the file **TateData.csv**.

**Note:** Once you have run the following cell, check the output file .

In [66]:
tate_dataset.to_csv('tate_dataset.csv', index=False, header=True)

To pull in the csv file, we will use the Pandas function `read_csv()`. We will import the previous file in a new DataFrame.

**Note:**  Depending on where you save your notebooks, you may need to modify the location below.

In [67]:
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

When we create the .CSV file, the only parameter we have used is **index**. 

**[TO DO]** What happens if we set the *index* parameter to True? And if you set also the parameter **header** to False?
Try by yourself. 

*The parameter index set to **True** creates an additional column with the index number. Whereas if we set header=**False**, then the first line in the .csv file would be dropped and the second one would be considered as the key for each column (which is far from being appropriate in this case)*

In [68]:
tate_dataset.to_csv('tate_dataset.csv', index=True, header=False)
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

   0          Beuys, Joseph    Male  1921  1986   588
0  1        Constable, John    Male  1776  1837   249
1  2       Daniell, William    Male  1769  1837   612
2  3      Forbes, Elizabeth  Female  1859  1912   120
3  4          Flaxman, John    Male  1755  1826   287
4  5       Phillips, Thomas    Male  1770  1845   274
5  6  Paolozzi, Sir Eduardo    Male  1924  2005   385
6  7         Schendel, Mira  Female  1919  1988     3
7  8        Turner, William    Male  1775  1851  1861
8  9           Warhol, Andy    Male  1928  1987   272

Delete the csv file now that we are done using it.

### pickle â Python object serialization

This data format is Python-specific. This has the advantage that there are no restrictions imposed by external standards; however it means that non-Python programs may not be able to reconstruct pickled Python objects.

In [69]:
import pickle

tate_dataset.to_pickle('tate_dataset.pkl')

In [70]:
tate_2 = pd.read_pickle('tate_dataset.pkl')
tate_2

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

## 1.3 - Look at the data

Now we will simply have a look at the data and make sure it is clean. 

### Data type
Let's check the data type of the imported variables and the original DataFrame.

In [71]:
# Check data type of the columns for Tate_1
tate_1.dtypes

0                 int64
Beuys, Joseph    object
Male             object
1921              int64
1986              int64
588               int64
dtype: object

In [72]:
# Check data type of the columns for TateDataset
tate_dataset.dtypes

Name          object
Gender        object
Year_Birth     int64
Year_Death     int64
N_works        int64
dtype: object

We can also display the values of a single column and check their data type as follow:

In [73]:
tate_dataset['Gender']

0      Male
1      Male
2      Male
3    Female
4      Male
5      Male
6      Male
7    Female
8      Male
9      Male
Name: Gender, dtype: object

# Task 2: Application Programming Interfaces (APIs)

## 2.1 - Downloading climate data from the Internet

We will now explore real world data, namely a dataset of climate information of 5 cities in Denmark between 1980-2018. The original raw-data was originally obtained from [National Climatic Data Center (NCDC)](https://www7.ncdc.noaa.gov/CDO/cdoselect.cmd).

In particular, the selected cities in Denmark are:
- Aalborg, 
- Aarhus, 
- Esbjerg, 
- Odense. 
- Roskilde

In the following, we will download the dataset using an API instead of loading a local source file.

### What is an API? 
Application Programming Interface (API) is a communication protocol between the user and the server (i.e., web server) that enables transmittion of data. The user making a request to an API server can download the desidered resources. 

### How to make a request in python?
There are many different way to request data. 
In the following, we will use the package **urllib** that collects several modules for working with URLs.

In particular, [urlib.request](https://docs.python.org/3/library/urllib.request.html#module-urllib.request) is a module for opening and reading URLs.

### - Download climate data


The following functions allow to download and store the dataset in a specific folder.

How to use:

- Set the source (i.e., URL) of the desidered dataset in `data_url`.
- Set the `data_dir` variable with the local directory where to store the data.
- Call `download_and_extract()` to download the dataset if it is not already located in the given data_dir.
- Load the data in the interactive Python notebook so it can be used in your scripts (you can use `load_original_data()`).

**NOTE** Open the tab below to see the downloading functions in more detail.

In [74]:
#@title Functions to download data 
########################################################################
#
# This file is a partially modified version of one of the TensorFlow Tutorials available at:
#
# https://github.com/Hvass-Labs/TensorFlow-Tutorials
#
# Published under the MIT License. See the file LICENSE for details.
#
# Copyright 2018 by Magnus Erik Hvass Pedersen
#
########################################################################

import sys
import os
import urllib.request
import tarfile
import zipfile



def _print_download_progress(count, block_size, total_size):
    """
    Function used for printing the download progress.
    Used as a call-back function in maybe_download_and_extract().
    """

    # Percentage completion.
    pct_complete = float(count * block_size) / total_size

    # Limit it because rounding errors may cause it to exceed 100%.
    pct_complete = min(1.0, pct_complete)

    # Status-message. Note the \r which means the line should overwrite itself.
    msg = "\r- Download progress: {0:.1%}".format(pct_complete)

    # Print it.
    sys.stdout.write(msg)
    sys.stdout.flush()


def download(base_url, filename, download_dir):
    """
    Download the given file if it does not already exist in the download_dir.
    :param base_url: The internet URL without the filename.
    :param filename: The filename that will be added to the base_url.
    :param download_dir: Local directory for storing the file.
    """

    # Path for local file.
    save_path = os.path.join(download_dir, filename)

    # Check if the file already exists, otherwise we need to download it now.
    if not os.path.exists(save_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        print("Downloading", filename, "...")

        # Download the file from the internet.
        url = base_url + filename
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=save_path,
                                                  reporthook=_print_download_progress)

        print(" Done!")


def download_and_extract(url, download_dir):
    """
    Download and extract the data if it doesn't already exist.
    Assumes the url is a tar-ball file.
    :param url:
        Internet URL for the tar-file to download.
    :param download_dir:
        Directory where the downloaded file is saved.
    """

    # Filename for saving the file downloaded from the internet.
    # Use the filename from the URL and add it to the download_dir.
    filename = url.split('/')[-1]
    file_path = os.path.join(download_dir, filename)

    # Check if the file already exists.
    # If it exists then we assume it has also been extracted,
    # otherwise we need to download and extract it now.
    if not os.path.exists(file_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        # Download the file from the internet.
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=file_path,
                                                  reporthook=_print_download_progress)

        print()
        print("Download finished. Extracting files.")

        if file_path.endswith(".zip"):
            # Unpack the zip-file.
            zipfile.ZipFile(file=file_path, mode="r").extractall(download_dir)
        elif file_path.endswith((".tar.gz", ".tgz")):
            # Unpack the tar-ball.
            tarfile.open(name=file_path, mode="r:gz").extractall(download_dir)

        print("Done.")
    else:
        print("Data has apparently already been downloaded and unpacked.")

First, we define where we want to download the dataset (you are free to choose another directory) and the URL of the dataset to be downloaded.

In [75]:
# Location of the dataset on the internet.
data_url = "https://github.com/Hvass-Labs/weather-denmark/raw/master/weather-denmark.tar.gz"

# Local directory where you want to download and save the dataset.
data_dir = "weather-data/"

Now, we can download the dataset into the chosen local directory

In [76]:
download_and_extract(url=data_url, download_dir=data_dir)

Data has apparently already been downloaded and unpacked.

**[TO DO]:** Check the local folder? In which format the dataset has been downloaded?
*The data has been downloaded in two different formats: .csv and .pkl. We can decide which one to use (Pandas can easily handle both of them).*

**[TO DO]:** Select a format and load the dataset .

In [77]:
df_csv = pd.read_csv('./weather-data/weather-denmark.csv')

df_csv

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
0         Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
1         Aalborg  1980-03-01 00:20:00   4.0       NaN        9.2    270.0
2         Aalborg  1980-03-01 00:50:00   4.0       NaN        9.2    280.0
3         Aalborg  1980-03-01 01:20:00   4.0       NaN        9.2    280.0
4         Aalborg  1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...           ...                  ...   ...       ...        ...      ...
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 6 columns]

**More advanced solution for loading dataset**:

In this case, the dataset was downloaded in two different formats. 
We can define the path where the files have been stored as follows:
- **path_original_data_pickle( )** is the location of the original data in pickle format
- **path_original_data_csv( )** is the location the original data in .csv

In [78]:
def path_original_data_pickle():
    return os.path.join(data_dir, "weather-denmark.pkl")

def path_original_data_csv():
    return os.path.join(data_dir, "weather-denmark.csv")

Now we can load the data in pickle format through the following function:

In [79]:
def load_original_data():
    return pd.read_pickle(path_original_data_pickle())

In [80]:
df = load_original_data()
df

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

### - Undestanding the data

**_[TO DO]_**: Have a quick overview of the downloaded dataset. 
In particular, focus on:

- Understanding the variables contained in the dataframe
- Check the DateTime for 2 cities

*In this case, the index of the dataframe is not an integer (i.e., 0, 1, 2,...) as seen in the previous lab. But we have a multiple index (MultiIndex) [pandas.DataFrame.xs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.xs.html). Check the website to see how to select the data of the desidered city.*

In [81]:
print(df.columns)
print(df.index)

Index(['Temp', 'Pressure', 'WindSpeed', 'WindDir'], dtype='object')
MultiIndex([( 'Aalborg', '1980-03-01 00:00:00'),
            ( 'Aalborg', '1980-03-01 00:20:00'),
            ( 'Aalborg', '1980-03-01 00:50:00'),
            ( 'Aalborg', '1980-03-01 01:20:00'),
            ( 'Aalborg', '1980-03-01 01:50:00'),
            ( 'Aalborg', '1980-03-01 02:20:00'),
            ( 'Aalborg', '1980-03-01 03:00:00'),
            ( 'Aalborg', '1980-03-01 03:20:00'),
            ( 'Aalborg', '1980-03-01 04:00:00'),
            ( 'Aalborg', '1980-03-01 04:01:00'),
            ...
            ('Roskilde', '2018-03-01 20:50:00'),
            ('Roskilde', '2018-03-01 21:00:00'),
            ('Roskilde', '2018-03-01 21:20:00'),
            ('Roskilde', '2018-03-01 21:50:00'),
            ('Roskilde', '2018-03-01 22:00:00'),
            ('Roskilde', '2018-03-01 22:20:00'),
            ('Roskilde', '2018-03-01 22:50:00'),
            ('Roskilde', '2018-03-01 23:00:00'),
            ('Roskilde', '2018-03-01 23:20:00'),
            ('Roskilde', '2018-03-01 23:50:00')],
           names=['City', 'DateTime'], length=2918150)

In [82]:
df.xs('Aalborg').index

DatetimeIndex(['1980-03-01 00:00:00', '1980-03-01 00:20:00',
               '1980-03-01 00:50:00', '1980-03-01 01:20:00',
               '1980-03-01 01:50:00', '1980-03-01 02:20:00',
               '1980-03-01 03:00:00', '1980-03-01 03:20:00',
               '1980-03-01 04:00:00', '1980-03-01 04:01:00',
               ...
               '2018-03-01 21:20:00', '2018-03-01 21:50:00',
               '2018-03-01 22:00:00', '2018-03-01 22:20:00',
               '2018-03-01 22:30:00', '2018-03-01 22:50:00',
               '2018-03-01 23:00:00', '2018-03-01 23:04:00',
               '2018-03-01 23:21:00', '2018-03-01 23:50:00'],
              dtype='datetime64[ns]', name='DateTime', length=759897, freq=None)

In [83]:
df.xs('Roskilde').index

DatetimeIndex(['1980-03-01 10:50:00', '1980-03-01 12:50:00',
               '1980-03-01 13:50:00', '1980-03-01 15:50:00',
               '1980-03-01 16:50:00', '1980-03-02 04:50:00',
               '1980-03-02 06:50:00', '1980-03-02 07:50:00',
               '1980-03-02 09:50:00', '1980-03-02 10:50:00',
               ...
               '2018-03-01 20:50:00', '2018-03-01 21:00:00',
               '2018-03-01 21:20:00', '2018-03-01 21:50:00',
               '2018-03-01 22:00:00', '2018-03-01 22:20:00',
               '2018-03-01 22:50:00', '2018-03-01 23:00:00',
               '2018-03-01 23:20:00', '2018-03-01 23:50:00'],
              dtype='datetime64[ns]', name='DateTime', length=569852, freq=None)

## 2.2 - Interacting with a server to query a subset of some data bank

We will now learn how to query a data bank to retrieve only the relevant proportion data for a task. We will be using the World Bank Data API to access World's renewable energy consumtpion data.

You first need to install the World Bank API. In a terminal, run the following command:

``>> pip install wbdata``

In [84]:
%pip install wbdata

Requirement already satisfied: wbdata in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (0.3.0)
Requirement already satisfied: decorator>=4.0 in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (from wbdata) (5.1.1)
Requirement already satisfied: appdirs<2.0,>=1.4 in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: requests>=2.0 in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (from wbdata) (2.28.1)
Requirement already satisfied: tabulate>=0.8.5 in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (from wbdata) (0.9.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (from requests>=2.0->wbdata) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (from requests>=2.0->wbdata) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (from requests>=2.0->wbdata) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in /Users/xumujie/opt/anaconda3/envs/daps/lib/python3.7/site-packages (from requests>=2.0->wbdata) (2022.9.24)
Note: you may need to restart the kernel to use updated packages.

In [85]:
#@title Imports
import wbdata as wb
import datetime

### - Query the World Bank

* **_[TO DO]_**: Use the wbdata to retrieve renewable energy consumption data of all countries in 2015.

Hint: [wbdata documentation](https://wbdata.readthedocs.io/en/stable/)

In [86]:
### TODO
import numpy as np
import wbdata as wb

# Selecting the time frame
import datetime
time_selection = (datetime.datetime(2015, 1, 1), datetime.datetime(2015, 12, 31))
energy_data=wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, data_date= time_selection)

### - Undestanding the data

* **_[TO DO]_**: Display different data points

In [87]:
energy_data.head()

                            Renewable energy consumption (TJ)
country
BES Islands                                         112.78860
Nauru                                                 0.32988
Niue                                                 16.63123
Wallis and Futuna                                     0.00000
Caucasian and Central Asia                                NaN

In [96]:
type(energy_data['Renewable energy consumption (TJ)'])

pandas.core.series.Series

In [89]:
energy_data['Renewable energy consumption (TJ)'][:50]

country
BES Islands                                             112.788600
Nauru                                                     0.329880
Niue                                                     16.631230
Wallis and Futuna                                         0.000000
Caucasian and Central Asia                                     NaN
Caucasus and Central Asia                                      NaN
Eastern Asia (including Japan)                                 NaN
Eastern Asia (not including Japan)                             NaN
Eastern Europe                                                 NaN
Europe                                                         NaN
High income                                                    NaN
High income: nonOECD                                           NaN
High income: OECD                                              NaN
Latin America and Caribbean                                    NaN
Low & middle income                                            NaN
Low income                                                     NaN
Lower middle income                                            NaN
Middle income                                                  NaN
Northern America                                               NaN
Not classified                                                 NaN
Nothern America                                                NaN
Oceania                                                        NaN
Oceania (not including Australia and New Zealand)              NaN
South Eastern Asia                                             NaN
Southern Asia                                                  NaN
Sub-Saharan Africa                                             NaN
Upper middle income                                            NaN
Western Asia                                                   NaN
World                                                          NaN
Afghanistan                                           25134.530000
Albania                                               31555.450000
Algeria                                                 833.669800
American Samoa                                            4.968064
Andorra                                                1642.520000
Angola                                               243771.100000
Anguilla                                                  1.827000
Antigua and Barbuda                                       0.000000
Argentina                                            239470.600000
Armenia                                               13445.590000
Aruba                                                   437.772000
Australia                                            296838.100000
Austria                                              362355.800000
Azerbaijan                                             7681.284000
Bahamas, The                                            310.333000
Bahrain                                                   0.000000
Bangladesh                                           386058.600000
Barbados                                                315.079400
Belarus                                               44549.430000
Belgium                                              128345.200000
Belize                                                 4279.870000
Name: Renewable energy consumption (TJ), dtype: float64

### - Exporting the data 

* **_[TO DO]_**: Save the retrieved renewable energy consumption data of all countries in 2015 in one .xlsx file
* **_[TO DO]_**: Save the renewable energy consumption data from 2006 to 2016 for each European country in individual .csv files (one per country)

In [103]:
import openpyxl
energy_data.to_excel('renewable_energy_cosumption_2016.xlsx')

In [91]:
# Import packages
import requests
import json

In [92]:
# Requesting all wolrd bank locations names and codes
locations = requests.get("http://api.worldbank.org/v2/country?format=json&source=6&per_page=300")
locations_json = locations.json()

In [93]:
# Parse through the response to filter european (ECS) countries IDs and names
europe_countries = {}
for i in locations_json[1]:
  if i["region"]["id"] == "ECS":
    europe_countries[i["id"]] = i["name"]

In [104]:
europe_countries_ids = list(europe_countries.keys())
timeSelection = (datetime.datetime(2006, 1, 1), datetime.datetime(2016, 12, 31))
for country in europe_countries_ids:
  try:
      print('Saving {} data'.format(country))
      energy_data = wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, data_date=timeSelection, country=country)
      energy_data.to_csv(europe_countries[country] + '_REC_2006_2016.csv')
  except Exception as e:
    print(e)

Saving ALB data
Saving AND data
Saving ARM data
Saving AUT data
Saving AZE data
Saving BEL data
Saving BGR data
Saving BIH data
Saving BLR data
Saving CHE data
Saving CHI data
Saving CYP data
Saving CZE data
Saving DEU data
Saving DNK data
Saving ESP data
Saving EST data
Saving FIN data
Saving FRA data
Saving FRO data
Saving GBR data
Saving GEO data
Saving GIB data
Saving GRC data
Saving GRL data
Saving HRV data
Saving HUN data
Saving IMN data
Saving IRL data
Saving ISL data
Saving ITA data
Saving KAZ data
Saving KGZ data
Saving LIE data
Saving LTU data
Saving LUX data
Saving LVA data
Saving MCO data
Saving MDA data
Saving MKD data
Saving MNE data
Saving NLD data
Saving NOR data
Saving POL data
Saving PRT data
Saving ROU data
Saving RUS data
Saving SMR data
Saving SRB data
Saving SVK data
Saving SVN data
Saving SWE data
Saving TJK data
Saving TKM data
Saving TUR data
Saving UKR data
Saving UZB data
Saving XKX data